@import "_colors.module.scss";

// Bulma: {{{

@import "~/node_modules/bulma/sass/utilities/derived-variables.sass";
@import "~/node_modules/bulma/sass/utilities/functions.sass";

$family-primary: 'Noto Sans', sans-serif;

// Setup $colors to use as bulma classes (e.g. 'is-warning')
$addColors: (
  "black": ($color-whydah-black, findColorInvert($color-whydah-black)),
  "terra-cotta": ($color-terra-cotta, findColorInvert($color-terra-cotta)),
  "desert": ($color-desert, findColorInvert($color-desert)),
  "dull-blue": ($color-dull-blue, findColorInvert($color-dull-blue)),
  "topaz": ($color-topaz, findColorInvert($color-topaz)),
  "cool-grey": ($color-cool-grey, findColorInvert($color-cool-grey))
);

$colors: mergeColorMaps($colors, $addColors);

@import "~/node_modules/bulma/bulma";

// }}}
// Highcharts: {{{
@import  "~/node_modules/highcharts/css/highcharts.css";

.highcharts-axis-title {
  fill: $color-whydah-white;
}

:root {
  --highcharts-neutral-color-80: #{$color-off-white};
  --highcharts-neutral-color-10: #{$color-accent};

  // Chart colors
  --highcharts-color-0: #{$color-ice}; // new user
  --highcharts-color-1: #{$color-charcoal}; // new login
  --highcharts-color-2: #{$color-terra-cotta}; // deleted user
}


#line-chart {
  --highcharts-background-color: #{$color-slate-blue};

  .highcharts-graph {
    stroke-width: 5px;
  }
  .highcharts-point, .highcharts-markers {
    stroke-width: 8px;
  }
}

#column-chart {
  --highcharts-background-color: #{$color-slate-green};

  .highcharts-point, .highcharts-markers {
    stroke-width: 3px;
  }
}

// }}}
//  vim: set ts=2 sw=2 tw=0 fdm=marker et :
