@import "_colors.module.scss";

// Bulma: {{{

@import "~/node_modules/bulma/sass/utilities/derived-variables.sass";
@import "~/node_modules/bulma/sass/utilities/functions.sass";

$family-primary: 'Noto Sans', sans-serif;

$black: $color-whydah-black;
$black-invert: findColorInvert($color-whydah-black);
$terra-cotta: $color-terra-cotta;
$terra-cotta-invert: findColorInvert($color-terra-cotta);
$cool-grey: $color-cool-grey;
$cool-grey-invert: findColorInvert($color-cool-grey);
$desert: $color-desert;
$desert-invert: findColorInvert($color-desert);
$dull-blue: $color-dull-blue;
$dull-blue-invert: findColorInvert($color-dull-blue);
$topaz: $color-topaz;
$topaz-invert: findColorInvert($color-topaz);

// Setup $colors to use as bulma classes (e.g. 'is-warning')
$addColors: (
  "black": ($black, $black-invert),
  "terra-cotta": ($terra-cotta, $terra-cotta-invert),
  "desert": ($desert, $desert-invert),
  "dull-blue": ($dull-blue, $dull-blue-invert),
  "topaz": ($topaz, $topaz-invert),
  "cool-grey": ($cool-grey, $cool-grey-invert)
);

$colors: mergeColorMaps($colors, $addColors);

@import "~/node_modules/bulma/bulma";

// }}}
// Highcharts: {{{
@import  "~/node_modules/highcharts/css/highcharts.css";

.highcharts-axis-title {
  fill: $color-whydah-white;
}

:root {
  --highcharts-neutral-color-80: #{$color-off-white};
  --highcharts-neutral-color-10: #{$color-accent};

  // Chart colors
  --highcharts-color-0: #{$color-ice}; // new user
  --highcharts-color-1: #{$color-charcoal}; // new login
  --highcharts-color-2: #{$color-terra-cotta}; // deleted user
}


#line-chart {
  --highcharts-background-color: #{$color-slate-blue};

  .highcharts-graph {
    stroke-width: 5px;
  }
  .highcharts-point, .highcharts-markers {
    stroke-width: 8px;
  }
}

#column-chart {
  --highcharts-background-color: #{$color-slate-green};

  .highcharts-point, .highcharts-markers {
    stroke-width: 3px;
  }
}

// }}}
//  vim: set ts=2 sw=2 tw=0 fdm=marker et :
